<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles.css">
        <title>Test Task</title>
    </head>
    <body>

        <form id="addStudentForm">
            <h2>Add Student</h2>
            <label for="firstName">
                <input type="text" id="firstName" placeholder="First Name (required)" required>
            </label>
            <label for="lastName">
                <input type="text" id="lastName" placeholder="Last Name (required)" required>
            </label>
            <label for="patronymic">
                <input type="text" id="patronymic" placeholder="Patronymic">
            </label>
            <label for="dateOfBirth">
                <input type="date" id="dateOfBirth" placeholder="Date of Birth" required>
            </label>
            <label for="group">
                <input type="text" id="group" placeholder="Group">
            </label>
            <button type="submit">Add</button>
        </form>

        <form id="deleteStudentForm">
            <h2>Delete Student</h2>
            <label for="studentIdToDelete">
                <input type="text" id="studentIdToDelete" placeholder="Unique Number" required>
            </label>
            <button type="submit">Delete</button>
        </form>

        <h2>Student List</h2>
        <table>
            <thead>
            <tr>
                <th>Unique Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Patronymic</th>
                <th>Date of Birth</th>
                <th>Group</th>
            </tr>
            </thead>
            <tbody id="studentTableBody">

            </tbody>
        </table>
    </body>
    <script src="../static/script.js"></script>
</html>